[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
gunicorn = "*"
django = "*"
django-heroku = "*"
appdirs = "*"
asgiref = "*"
certifi = "*"
distlib = "*"
dj-database-url = "*"
filelock = "*"
pipenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pytz = "*"
six = "*"
sqlparse = "*"
virtualenv = "*"
virtualenv-clone = "*"
whitenoise = "*"
appdirs = "*"
appnope = "*"
asgiref = "*"
astroid = "*"
attrs = "*"
backcall = "*"
certifi = "*"
decorator = "*"
distlib = "*"
Django = "*"
django-cors-headers = "*"
django-extensions = "*"
djangorestframework = "*"
filelock  = "*"
gunicorn  = "*"
ipython  = "*"
ipython-genutils = "*"
isort = "*"
jedi  = "*"
lazy-object-proxy = "*"
mccabe  = "*"
more-itertools = "*"
packaging  = "*"
parso  = "*"
pexpect  = "*"
pickleshare = "*"
Pillow = "*"
pipenv = "*"
pluggy = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
ptyprocess = "*"
py = "*"
Pygments = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
pytz = "*"
six = "*"
sqlparse = "*"
traitlets = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
wrapt = "*"

[requires]
python_version = "3.8"
